<div>
<img src="/images/the_temptation_of_saint_anthony.svg" title="The Temptation of Saint Anthony" style="width:100px;height:100px;">
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/writing">Writing</a></li>
    <li><a href="/aesthetics">Aesthetics</a></li>
    <li><a href="/beliefs">Beliefs</a></li>
    <li><a href="/giving">Giving</a></li>
    <li><a href="/habits">Habits</a></li>
    <li><a href="/feedback">Feedback</a></li>
    <li><a href="/blogroll">Blogroll</a></li>
  </ul>
</nav>
</div>
